*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f6f2;
}

h1 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  font-weight: 650;
}
span {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  font-weight: 650;
  font-style: italic;
}
