*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f8f6f2;
}

h1 {
  text-align: center;
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  font-weight: 650;
}
h1 span {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-size: 45px;
  font-weight: 650;
  font-style: italic;
}

.card-container {
  width: 350px;
  height: 500px;
  background-color: white;
  border-radius: 32px;
  margin: 0 auto;
  margin-top: 40px;
  box-shadow: 0px 0px 7px 0.2px rgb(0 0 0 / 0.14);
}
